<div class="card">
    <div class="card-body">
        <form (submit)="addTask(newTitle, newDescription)">
            <div class="form-group p-2">
                <input type="text" placeholder="Titulo tarea" class="form-control" #newTitle>
            </div>
            <div class="form-group">
                <textarea name="" class="form-control" cols="30" rows="10" placeholder="Descripcion" #newDescription></textarea>
            </div>
            <div class="d-grid gap-2 p-2">
                <button class="btn btn-primary">Enviar</button> 
            </div>
        </form>
    </div>
</div>
